@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family:  "Roboto SemiBold";
    src : url("../fonts/Roboto-SemiBold.ttf");
}

.root{
    background-color: transparent;
    -fx-background-color : linear-gradient(from 0% 0% to 100% 100%, #f5f2ea 0%, #d9d6cd 100%)/**/;
    -fx-background-radius : 1.5em;
}

.container{
    background-color: #fff;
    -fx-background-color : #fff;
}

.rounded-container{
    border-radius : 1.5em;

    -fx-border-radius : 1.5em;
    -fx-background-radius : 1.5em;
}

.label{
    font-family : "Roboto";
    -fx-font-family: "Roboto";
}

.label-deselected{
    -fx-text-fill : rgba(0, 0, 0, .5);
}

.success-label{
    -fx-text-fill : #75c133;
}

.error-label{
    -fx-text-fill : #ff3f3f;
}

.text-field{
    border-color : balck;
    background-color : #fff;
    border-radius: .7em;
    font-family : "Roboto";
    font-size : 16px;

    -fx-background-color : #fff;
    -fx-background-radius : .7em;
    -fx-border-radius : .7em;
    -fx-border-color : rgba(0, 0, 0, .2);

    -fx-font-family: "Roboto";
    -fx-font-size : 16px
}

.password-field{
    font-family : "System";
    font-size : 14px;

    -fx-font-family : "System";
    -fx-font-size : 14px;
}

.text-field:focused{
    border-color : #000;

    -fx-border-color : #000;
}

.error-field{
    border-color : #f14444;

    -fx-border-color : #f14444;
}

.error-field:focused{
    border-color : #d63b3b;

    -fx-border-color : #d63b3b;
}

.hyperlink{
    font-family : "Roboto";
    border-color : transparent;

    -fx-text-fill : black;
    -fx-font-family : "Roboto";
    -fx-underline : "false";
    -fx-border-color : transparent;
}

.hyperlink:hover{
    -fx-underline : "true";
}

.button{
    font-family : "Roboto";
    background-color:  #fdc886;
    border-radius: .7em;

    -fx-background-color : #fdc886;
    -fx-font-family : "Roboto";
    -fx-background-radius : .7em;
    -fx-border-radius: .7em;
}

.button:hover{
    background-color :  rgb(227, 180, 118);

    -fx-background-color : rgb(227, 180, 118);
}


.button-changepfp{
    background-color : transparent;
    border-color : #fdc886;
    border-radius : 1.5em;

    -fx-background-color : transparent;
    -fx-border-color : #fdc886;
    -fx-background-radius: 1.5em;
    -fx-text-fill : #fdc886;
    -fx-border-radius : 1.5em
}

.button-changepfp:hover{
    background-color: #fdc886;
    border-radius : 1.5em;

    -fx-border-radius : 1.5em;
    -fx-background-radius: 1.5em;
    -fx-background-color : #fdc886;
    -fx-text-fill : black;
}

.button-deleteaccount{
    background-color : transparent;
    border-color : #d1005e;
    border-radius : .5em;

    -fx-background-color : transparent;
    -fx-border-color : #d1005e;
    -fx-background-radius: .5em;
    -fx-text-fill : #d1005e;
    -fx-border-radius : .5em
}

.button-deleteaccount:hover{
    background-color: #d1005e;
    border-radius : .5em;

    -fx-border-radius : .5em;
    -fx-background-radius: .5em;
    -fx-background-color : #d1005e;
    -fx-text-fill : black;
}

.button-cancel{
    background-color : transparent;
    border-width : 1px;
    border-color : rgba(0,0,0, .2);

    -fx-background-color : transparent;
    -fx-border-width : 1px;
    -fx-border-color : rgba(0,0,0, .2);
}

.button-cancel:hover{
    background-color : transparent;

    -fx-background-color : #f1f1f1;
}

.button#loginButton{
    font-family : "Roboto Bold";
    font-size : 16px;

    -fx-font-size : 16px;
    -fx-font-family : "Roboto Bold";
}

.bold-text{
    font-family:  "Roboto Bold";

    -fx-font-family : "Roboto Bold";
}

.semibold-text{
    font-family : "Roboto SemiBold";

    -fx-font-family : "Roboto SemiBold";
}

.digitBox{
    font-size : 23px;

    -fx-font-size : 23px;
}

.glassPane{
    background-color : rgba(0, 0, 0 .1);

    -fx-background-color : rgba(0, 0, 0, .2);
}

.popup{
    border-radius : 1em 1em 0px 0px;
    border-color : rgba(0, 0, 0, .1);

    -fx-background-radius : 1em 1em 0px 0px;
    -fx-border-color : rgba(0, 0, 0, .1);
    -fx-border-radius : 1em 1em 0px 0px
}

.popup .button{
    border-radius : 0px;

    -fx-background-radius : 0px;
    -fx-border-radius : 0px;
}

.popup .button-cancel{
    border-width : 0px;

    -fx-border-width : 0px;
}

.product-data-input{
    border-width : 1px;
    border-style : dashed;
    border-radius : .3em;
    border-color : rgb(240,240,240);

    -fx-border-width : 1px;
    -fx-border-style : dashed;
    -fx-border-radius : .3em;
    -fx-border-color : rgb(210,210,210);
}

.submenu-container{
    background-color : #fff;

    -fx-background-color : #fff;
}

.submenu-button-selected{
    background-color : #fdc886;

    -fx-background-color : #fdc886;
    -fx-background-radius : .5em;
}

.category-button{
    border-color : #66ec9c;
    background-color : #66ec9c;
    border-width : 1px;
    border-radius : 1.5em;

    -fx-border-color : #66ec9c;
    -fx-background-color : rgba(102, 236, 156, .1);
    -fx-background-radius : 1.5em;
    -fx-text-fill : #66ec9c;
    -fx-border-radius : 1.5em;
    -fx-border-width : 1px;
}

.category-button:hover{
    background-color : #66ec9c;

    -fx-background-color : rgba(102, 236, 156, .15);
}

.category-button-selected{
    background-color : #66ec9c;

    -fx-background-color : #66ec9c;
    -fx-text-fill : white;
}

.category-button-selected:hover{
    background-color : #66ec9c;

    -fx-background-color : #66ec9c;
}

.searchbar{
    border-color : rgba(0,0,0 .1);
    border-radius : 1em;
    border-width : 2px;

    -fx-border-radius : 2em;
    -fx-border-width : 1px;
    -fx-border-color : rgba(0,0,0 .1);
}

.product-container{
    background-color : rgba(0, 0, 0, .05);
    border-width : 2px;
    border-radius : 1.5em;
    border-color : rgba(0, 0, 0, .1);

    -fx-background-radius : 8%;
    -fx-background-color : rgba(0, 0, 0, .05);
    -fx-border-width : 2px;
    -fx-border-radius : 8%;
    -fx-border-color : rgba(0, 0, 0, .1)
}

.product-container .product-name{
    font-size : 12px;

    -fx-font-size : 12px
}

.product-container .product-cost{
     font-size : 16px;

    -fx-font-size : 16px;
    -fx-text-fill : #40bf24;
}

.product-view{
    background-color : rgba(0, 0, 0, .1);

    -fx-background-color : rgba(0, 0, 0, .1);
    -fx-background-radius : 8%;
}

.product-page-summary{
    background-color : rgb(0, 0, 0, .025);
    border-radius : 1em;
    border-width : 2.5px;
    border-color : rgba(0, 0, 0, .1);
    
    -fx-background-radius : 1em;   
    -fx-background-color : rgb(0, 0, 0, .025);
    -fx-border-radius : 1em;
    -fx-border-width : 2.5px;
    -fx-border-color : rgb(0, 0, 0, .1)
}

.text-area{
    background-color : transparent;
    font-family : "Roboto";
    font-size : 24px;

    -fx-font-family: "Roboto";
    -fx-font-size : 24px;
    -fx-background-color : transparent;
}

.text-area .content{
    background-color : transparent;
    padding : 0;

    -fx-padding : 0;
    -fx-background-color : transparent;
}

.product-cost-display{
    background-color : transparent;
    padding : 0;
    font-size : 24;
    border-width : 0px;
    font-family : "Roboto";

    -fx-background-color : transparent;
    -fx-padding : 0px 0px 0px 5px;
    -fx-font-size : 24px;
    -fx-border-width : 0px;
    -fx-text-fill : #40bf24;
}

.upload-file-container{
    border-style: dashed;
    border-radius : 1.5em;
    border-color : black;
    border-width : 2px;

    -fx-border-style: segments(8, 15);;
    -fx-border-radius : 1.5em;
    -fx-border-color : black;
    -fx-border-width : 2px;
}

.searchbar-field{
    background-color: transparent;
    border-width : 0px;
    font-size : 14px;

    -fx-background-color : transparent;
    -fx-border-width : 0px;
    -fx-font-size : 14px
}

.image-cropper-container{
    background-color : white;

    -fx-background-color : white;
    -fx-background-radius : 1.5em;
}

.profilepic-container{
    background-color: lightgray;

    -fx-background-color : lightgray;
    -fx-background-radius : 100%
}

.scroll-pane{
    background-color : transparent;

    -fx-background-color : transparent;
}

.scroll-pane .viewport{
    background-color : transparent;

    -fx-background-color : transparent;
}

.scroll-bar:vertical{
    background-color : rgb(200, 200, 200);

    -fx-background-color : transparent;
}

.scroll-bar:vertical > .thumb{
    background-color : rgb(200, 200, 200);

    -fx-background-color : rgb(200, 200, 200);
}

.scroll-bar:vertical .increment-button{
    opacity : 0;

    -fx-opacity : 0;
}

.scroll-bar:vertical .decrement-button{
    opacity : 0;

    -fx-opacity : 0;
}

.combo-box {
    font-family : "Roboto";
    background-color : transparent;
    border-width : 0;

    -fx-font-family : "Roboto";
    -fx-background-color : transparent;
    -fx-border-width : 0;
}

.combo-box .arrow-button {
    background-color : transparent;
    padding : 0.5em;

    -fx-background-color : transparent;
    -fx-padding : 0.5em;
}

.combo-box .arrow-button .arrow {
    background-color : black;

    -fx-background-color : black;
}

.combo-box .list-cell {
    padding : 5px 10px 5px 10px;
    background-color : black;
    border-width : 0;
    font-size : 15px;

    -fx-padding : 5px 10px 5px 10px;
    -fx-background-color : white;
    -fx-border-width : 0;
    -fx-background-radius : .2em;
    -fx-font-size : 15px;
    -fx-text-fill : black;
}

.combo-box .list-cell:hover {
    background-color : rgb(230, 230, 230);

    -fx-background-color: rgb(230, 230, 230);
}

.combo-box .list-cell:selected {
    background-color : transparent;
    font-family : "Roboto Bold";

    -fx-background-color: transparent;
    -fx-text-fill: #fdc886;
    -fx-font-family : "Roboto Bold"
}

.combo-box-popup .list-view {
    background-color : white;

    -fx-background-color: white;
}

.combo-box-popup .scroll-bar:horizontal {
    opacity : 0;
    max-width : 0;
    max-height : 0;

    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}